# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\guy\repositories\git-sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
